<!-- Disclaimer: I have never used javascript .. this is the most bloated, monolithic page every - buuut it is responsive, so forgive me until I learn better -->

{% extends 'base.html' %}

{% include 'header.html' %}

{% block title %} Control {% endblock %}

{% block body %}

<html>
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<style>
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.page__content-container {
	  	margin-top: 200px;
		}

</style>

<script type='text/javascript'>

$(document).ready(function() {

    var socket = io.connect('{{server_ip}}');


    socket.on('connect', function(){
        // socket.send('User connected!');
        console.log(socket.id);
    });

    socket.on('message', function(msg){
        var obj = (msg);
        $("#lab").text(JSON.stringify(msg));

        if (obj['Node0']['Include'] == true){
            $("#n0toggle").prop("checked", true);
        }
        else{
            $("#n0toggle").prop("checked", false);
        }
        if (obj['Node1']['Include'] == true){
            $("#n1toggle").prop("checked", true);
        }
        else{
            $("#n1toggle").prop("checked", false);
        }
        if (obj['Node2']['Include'] == true){
            $("#n2toggle").prop("checked", true);
        }
        else{
            $("#n2toggle").prop("checked", false);
        }

        if (obj['Node0']['Node0']['connection'] == true) {
            document.getElementById('n0-c0').style.backgroundColor='#5cb85c';
        }
        else {
            document.getElementById('n0-c0').style.backgroundColor='#d9534f';
        }

        if (obj['Node0']['Rhino0']['connection'] == true) {
            document.getElementById('n0-r0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n0-r0').style.backgroundColor='#d9534f';
        }

        if (obj['Node0']['Pentek0']['connection'] == true) {
            document.getElementById('n0-p0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n0-p0').style.backgroundColor='#d9534f';
        }

        if (obj['Node0']['Cam0']['connection'] == true) {
            document.getElementById('n0-cam0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n0-cam0').style.backgroundColor='#d9534f';
        }

        if (obj['Node1']['Node1']['connection'] == true) {
            document.getElementById('n1-c0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n1-c0').style.backgroundColor='#d9534f';
        }

        if (obj['Node1']['Rhino1']['connection'] == true) {
            document.getElementById('n1-r0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n1-r0').style.backgroundColor='#d9534f';
        }

        if (obj['Node1']['Pentek1']['connection'] == true) {
            document.getElementById('n1-p0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n1-p0').style.backgroundColor='#d9534f';
        }

        if (obj['Node1']['Cam1']['connection'] == true) {
            document.getElementById('n1-cam0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n1-cam0').style.backgroundColor='#d9534f';
        }


        if (obj['Node2']['Node2']['connection'] == true) {
            document.getElementById('n2-c0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n2-c0').style.backgroundColor='#d9534f';
        }

        if (obj['Node2']['Rhino2']['connection'] == true) {
            document.getElementById('n2-r0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n2-r0').style.backgroundColor='#d9534f';
        }

        if (obj['Node2']['Pentek2']['connection'] == true) {
            document.getElementById('n2-p0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n2-p0').style.backgroundColor='#d9534f';
        }

        if (obj['Node2']['Cam2']['connection'] == true) {
            document.getElementById('n2-cam0').style.backgroundColor='#5cb85c';
        } 
        else {
            document.getElementById('n2-cam0').style.backgroundColor='#d9534f';
        }

        $('#n0-d0').text(obj['Node0']['Node0']['name']);
        $('#n0-c0').text(obj['Node0']['Node0']['connection']);
        $('#n0-r0').text(obj['Node0']['Rhino0']['connection']);
        $('#n0-p0').text(obj['Node0']['Pentek0']['connection']);
        $('#n0-cam0').text(obj['Node0']['Cam0']['connection']);


        $('#n1-d0').text(obj['Node1']['Node1']['name']);
        $('#n1-c0').text(obj['Node1']['Node1']['connection']);
        $('#n1-r0').text(obj['Node1']['Rhino1']['connection']);
        $('#n1-p0').text(obj['Node1']['Pentek1']['connection']);
        $('#n1-cam0').text(obj['Node1']['Cam1']['connection']);

        $('#n2-d0').text(obj['Node2']['Node2']['name']);
        $('#n2-c0').text(obj['Node2']['Node2']['connection']);
        $('#n2-r0').text(obj['Node2']['Rhino2']['connection']);
        $('#n2-p0').text(obj['Node2']['Pentek2']['connection']);
        $('#n2-cam0').text(obj['Node2']['Cam2']['connection']);
        // console.log(obj)
    });

    $("#n0toggle").change(function(){
        if($(this).prop("checked") == true){
        socket.send("{'Node0':{'Include':True}}");
        }else{
        socket.send("{'Node0':{'Include':False}}");
        }
    });
    $("#n1toggle").change(function(){
        if($(this).prop("checked") == true){
        socket.send("{'Node1':{'Include':True}}");

        }else{
        socket.send("{'Node1':{'Include':False}}");

        }
    });
    $("#n2toggle").change(function(){
        if($(this).prop("checked") == true){
        socket.send("{'Node2':{'Include':True}}");
        }else{
        socket.send("{'Node2':{'Include':False}}");
        }
    });
});
</script>
<div class="page__content-container ">
    <div class="container">
        <div class='jumbotron'>
        <h2>Node Connections</h2>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Node</th>
              <th>Controller</th>
              <th>Rhino</th>
              <th>Pentek</th>
              <th>Camera</th>
              <th>Include</th>
            </tr>
          </thead>
            <tbody>
                <tr>
                    <td id='n0-d0'></td>
                    <td id='n0-c0'></td>
                    <td id='n0-r0'></td>
                    <td id='n0-p0'></td>
                    <td id='n0-cam0'></td>
                    <td id='n0-toggle'>
                        <!-- Rounded switch -->
                    <label class="switch">

                        <input id='n0toggle' type="checkbox" data-toggle ='toggle' checked  >

                        <span class="slider round"></span>
                    </label>


                    </td>
                </tr>
                <tr>
                    <td id='n1-d0'></td>
                    <td id='n1-c0'></td>
                    <td id='n1-r0'></td>
                    <td id='n1-p0'></td>
                    <td id='n1-cam0'></td>
                    <td id='n1-toggle'>
                        <label class="switch">

                            <input id='n1toggle' type="checkbox" data-toggle ='toggle' checked  >

                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td id='n2-d0'></td>
                    <td id='n2-c0'></td>
                    <td id='n2-r0'></td>
                    <td id='n2-p0'></td>
                    <td id='n2-cam0'></td>
                    <td id='n2-toggle'>
                        <label class="switch">

                            <input id='n2toggle' type="checkbox" data-toggle ='toggle' checked  >

                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>

            </tbody>
        </table>
    
    </div>

<label id="lab"></label>
</div>
</div>  


</body>

</html>

{% endblock %}
